@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 



* {
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}


.todoItem {
    height: 8vh;
    display: flex; 
    align-items: center;
    color: white; 
    font-weight: bold; 
    font-size: 2.5vh;
    word-wrap:break-word; 
    min-width: 100%; 
    max-width: 100%; 
    overflow-y: scroll; 
}

.todoInput {
    &:active {
        outline: blue;
    }
}