@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 



* {
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 5px; 
}


.todoItem {
    height: 8vh;
    display: flex; 
    align-items: left;
    font-weight:bolder; 
    padding: 2px; 
    font-size: 2.5vh;
    word-wrap:break-word; 
    min-width: 90%; 
    max-width: 90%; 
    min-height: 8vh; 
    max-height: 12vh; 
    overflow-y: scroll; 
    animation: running ease-in-out .5s todoAni; 
    display: flex; 
    flex-direction: column;
    padding: 5px; 
    margin: 5px; 

}

@keyframes todoAni {
    0% {
        transform: translateY(-100px); 
        opacity: 0; 
    }
    50% {
        transform: translateY(-30px); 
        opacity: .2; 
    }
    100% {
        transform: translateY(0px); 
        opacity: 1; 
    }
}

.todoInput {
    &:active {
        outline: blue;
    }
}

.selected {
    background: rgb(41, 59, 85) !important; 
    transition: all .3s; 
}